.projectsContainer {
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 100px;
    padding: 10%;
}

.projectsContainer>h1 {
    font-size: 2rem;
    color: #000;
}

.projectsContainer button {
    padding: 20px;
    border: none;
    cursor: pointer;
}

/*
.projectsContainer__blog::-webkit-scrollbar {
    width: 0 !important
}
*/