.landingPageHero__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: #000238;
    overflow-x: hidden;
}

.landingPageHero__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0C30FB;
}

.landingPageHero__innerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding: 20px 0px 0px 20px;
}

.landingPageHero__innerLeft img {
    cursor: pointer;
}

.landingPageHero__innerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 4;
    position: relative;
}

.landingPageHero__innerCenter h1 {
    color: #FFF;
    font-size: 120px;
}

.landingPageHero__innerCenter h4 {
    color: #FDAA29;
    font-weight: 400;
    letter-spacing: 1px;
}


.subtitleContainer {
    position: absolute;
    bottom: 0;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: scaleItem 600ms 1500ms 2;
    margin-top: 10px;
}

.subtitleContainer:hover {
    transform: scale(1.1);
}

.landingPageHero__innerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;
    padding: 50px 30px 0px 0px;
}

.landingPageHero__socials {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.landingPageHero__socials li {
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.landingPageHero__socials li:hover {
    transform: scale(1.5);
}

.animateItem {
    animation: scaleItem 500ms 1;
}

@keyframes scaleItem {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    .landingPageHero__container {
        padding: 20px;
    }


    .landingPageHero__innerLeft {
        padding: 20px 0px 0px 0px;
    }

    .landingPageHero__inner {
        flex-direction: column;
    }

    .landingPageHero__innerCenter {
        flex: 3;
    }

    .landingPageHero__innerCenter>h1 {
        font-size: 60px;
    }

    .landingPageHero__innerRight {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex: 2;
    }

    .landingPageHero__socials {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0px 0px 20px 0px;
    }

    .subtitleContainer {
        padding: 0;
    }
}